<%= form_with(model: [gallery, comment], local: true, class: 'comment-form contact') do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="contact-item form-name">
    <%= form.text_field :name, placeholder: 'Your Name *' %>
  </div>
  <div class="contact-item form-email">
    <%= form.email_field :email, placeholder: 'Your Email *' %>
  </div>
  <div class="contact-item field-full form-message">
      <%= form.text_area :content, placeholder: 'Your Comment...' %>
  </div>
  <div class="contact-item form-submit">
    <%= form.submit class: 'submit' %>
  </div>
<% end %>

