<%= form_with(model: submission, local: true, class: 'comment-form contact') do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h5>

      <ul>
        <% submission.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="contact-item">
    <%= form.text_area :description, autofocus: true, class: 'field-full', placeholder: "Describe your submission" %>
  </div>
  <div class="contact-item">
    <%= form.file_field :files, autofocus: false, multiple: true %>
  </div>
  <div class="contact-item">
    <%= form.email_field :email, autofocus: false, placeholder: "Email Address" %>
  </div>
  <div class="contact-item">
    <%= form.submit class: 'submit' %>
  </div>
<% end %>