<% title @gallery.title %>

<p>
  id:
  <br/>
  <%= @gallery.id  %>
</p>
<p>
  title
  <br/>
  <%= @gallery.title %>
</p>
<p>
  category
  <br/>
  <%= link_to @gallery.category.name, category_path(@gallery.category) %>
</p>
<p>
  files:
  <br/>
  <% @gallery.files.each do |file| %>
    <%= link_to file.variant(options_for_watermarked_variant) do %>
      <%= image_tag file.variant(resize: "500x500") %>
    <% end %>
  <% end %>
</p>
<div>
  comments:
  <% @gallery.comments.each do |comment| %>
    <p>
      Name: <%= comment.name %>
      <br>
      Created: <%= comment.created_at %>
      <br>
      Content: <%= comment.content %>
    </p>
  <% end %>
  <p>
  add comment:
    <%= render 'comments/form', gallery: @gallery, comment: (@comment || Comment.new) %>
  </p>
</div>
<div>
  reports:
  add report:
    <%= render 'reports/form', gallery: @gallery, report: @report || Report.new %>
  </p>
</div>
