<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'shared/notices' %>

    <div id="wrapper">
      <header id="header" class="header">
        <%= render 'shared/navbar' %>
      </header>

      <!-- Logo -->
      <div class="logo">
        <%= link_to root_url do %>
          <%= image_tag "logo.png", alt: "Logo" %>
        <% end %>
      </div>
      <!-- End Logo -->

      <!-- Main Menu -->
      <div class="main-menu sticky">
        <%= render 'shared/main_menu' %>
      </div>
      <!-- End Main Menu -->

      <%= yield %>

      <!-- Footer -->
      <footer id="footer" class="footer">
        <div class="container">
          <div class="copyright">
            Whatever @ 2047. Link to <a href="#">Something</a>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    </div>
  </body>
</html>
